

<div class="header-title">Manage Buildings</div>
<div class="row">
    <div class="col-lg-6">
        <form class="checked-in-visitor-form">
            <div class="row">
              <div class="col-lg-8 col-md-8 col-sm-12 mb-3">
                    <input type="text" class="form-control" id="visitor-building" placeholder="Search by pass number , visitor's mobile" required>
                    <div class="invalid-feedback">
                        Valid visitor detail is required.
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 mb-3" style="text-align: center;">
                 <button type="submit" id="building-visitor-search"class="btn btn-primary mb-3 search-btn">Search</button>
                </div>
            </div>
            </form>
    </div>
    <div class="col-lg-6 btn-rec">
        <button type="submit" id="btn-addbuilding" class="btn btn-primary mb-3 add-resep-btn" data-toggle="modal" data-target="#AddBuilding">Add Building</button>
    </div>
</div>
<div class="table-card">
    <div class="table-responsive">
        <table class="table" id="building-tbl">
       <thead>
         <tr>

           <th scope="col">Building Name</th>
           <th scope="col">Status</th>
           <th scope="col">Floor</th>
           <th scope="col">Action</th>
            </tr>
       </thead>
       <tbody *ngFor="let build of buildingList">
         <tr>
          <td>{{build.name}}</td>
           <td>{{build.status}}</td>
           <td><button type="submit" id="btn-floor" class="btn btn-primary mb-3 floor-btn" data-toggle="modal" data-target="#mangefloor">Floors</button></td>
           <td><button type="submit" id="btn-building-edit" class="btn btn-primary mb-3 edit-btn" data-toggle="modal" data-target="#editbulding">Edit</button><button type="submit" class="btn btn-danger mb-3 edit-btn">Delete</button></td>
<!--
           modal for edit building -->
           <div id="editbulding" class="modal fade">
            <div class="modal-dialog modal-lg" role="document" style="width: 100%;">
                <div class="modal-content">
                    <div class="modal-header" style="border: white;">
                        <div class="model-header-title">Update Building</div>
                        <button type="button"  class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                 <div class="modal-body">
                     <form role="form">

                            <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Building Name</label>
                                    <div>
                                        <input type="text" class="form-control input-lg" name="BuildingNameupdate" id="buildingNameupdate" placeholder="Building Name" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                <div class="custom-control custom-switch" style="margin-top: 8%; text-align: center;">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                                    <label class="custom-control-label" for="customSwitch1">Active</label>
                                  </div>
                                  </div>
                            </div>
                            </div>
                             <div class="row">
                                    <div class="col-md-6">

                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-6">
                                             </div>
                                            <div class="col-md-6" style="text-align: center;">
                                                <div class="form-group add-btn-div">
                                                    <div>
                                                        <button type="submit"  id="building-updatebtn"class="btn btn-primary add-btn-modal  update-btn-align">
                                                            Update
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                     </div>
                                    </div>
                                </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal for manage floors -->
        <div id="mangefloor" class="modal fade">
            <div class="modal-dialog modal-lg" role="document" style="width: 100%;">
                <div class="modal-content">
                    <div class="modal-header" style="border: white;">
                        <div class="model-header-title">Manage Floor</div>
                               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>

                <div class="modal-body">
                     <form role="form">

                            <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Floor Name</label>
                                    <div>
                                        <input type="text" class="form-control input-lg" name="floorname" id="floorname" placeholder="Floor Name" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                <div class="custom-control custom-switch" style="margin-top: 8%; text-align: center;">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                                    <label class="custom-control-label" for="customSwitch1" *ngIf="show">Active</label>
                                  </div>
                                  </div>
                            </div>
                            </div>
                             <div class="row">
                                    <div class="col-md-6">

                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-6">
                                             </div>
                                            <div class="col-md-6" style="text-align: center;">
                                                <div class="form-group add-btn-div">
                                                    <div>
                                                        <button type="submit" id="add-floor-btn" class="btn btn-primary add-btn-modal  update-btn-align" *ngIf="hide">
                                                            Add
                                                        </button>
                                                        <button type="submit" id="update-floor-btn" class="btn btn-primary add-btn-modal  update-btn-align" *ngIf="show" >
                                                            Update
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                     </div>
                                    </div>
                                </form>
                                <div class="table-card">
                                    <div class="table-responsive">
                                        <table class="table" id="floor-tbl">
                                       <thead>
                                         <tr>

                                           <th scope="col">Name</th>
                                           <th scope="col">Status</th>
                                           <th scope="col">Action</th>

                                            </tr>
                                       </thead>
                                       <tbody *ngFor="let visiteda of pageOfItems">
                                         <tr>
                                          <td>{{visiteda.title}}</td>
                                           <td>{{visiteda.address}}</td>
                                        <td><button type="submit"  id="floor-edit-btn" class="btn btn-primary mb-3 edit-btn" id="editbtn" (click)="toggle()">Edit</button><button id="floor-delete-btn" type="submit" class="btn btn-danger mb-3 edit-btn">Delete</button></td></tr>
                                        </tbody>
                                        </table>
                                        <jw-pagination [items]="visited" (changePage)="onChangePage($event)" class="pagi"></jw-pagination>
                                     </div>
                                     </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
        </tbody>
        </table>
        <jw-pagination [items]="visited" (changePage)="onChangePage($event)" class="pagi"></jw-pagination>
     </div>
     </div>


     <!-- Modal for add building -->
<div id="AddBuilding" class="modal fade">
    <div class="modal-dialog modal-lg" role="document" style="width: 100%;">
        <div class="modal-content">
            <div class="modal-header" style="border: white;">
                <div class="model-header-title">Add New Building</div>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

        <div class="modal-body">
             <form role="form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Building Name</label>
                            <div>
                                <input type="text" [(ngModel)]="buildingName" class="form-control input-lg" id="buildingName" placeholder="Building Name" name="BuildingName">
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-6"></div>
                           <div class="col-md-6">
                                <div class="form-group add-btn-div">
                                    <div style="text-align: center;">
                                        <button type="button" (click)="_createBuilding()" class="btn btn-primary add-btn-modal">
                                            Add
                                        </button>
                                    </div>
                                </div>
                             </div>
                            </div>
                        </form>

            </div>
        </div>
    </div>
</div>




