
<div class="header-title">Manage Staff</div>
<div class="row">
    <div class="col-6">
        <form class="checked-in-visitor-form">
            <div class="row">
              <div class="col-lg-8 col-md-8 col-sm-12 mb-3">
                    <input type="text" class="form-control" [(ngModel)]="customSearchText" name="customSearchText" (ngModelChange)="employeeCustomSearch()" id="visitor" placeholder="Search by pass number , visitor's mobile" required>
                    <div class="invalid-feedback">
                        Valid visitor detail is required.
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 mb-3" style="text-align: center;">
                 <button type="button" (click)="employeeCustomSearch()" class="btn btn-primary mb-3 search-btn">Search</button>
                </div>
            </div>
            </form>
    </div>
    <div class="col-6 btn-rec">
        <button type="submit" class="btn btn-primary mb-3 add-resep-btn" data-toggle="modal" data-target="#AddEmployee">Add Employee</button>
    </div>
</div>
<div class="table-card">
    <div class="table-responsive">
        <table class="table" id="staff-table">
       <thead>
         <tr>

           <th scope="col">First Name</th>
           <th scope="col">Last Name</th>
           <th scope="col">Tel</th>
           <th scope="col">Email</th>
           <th scope="col">Designation</th>
           <th scope="col">NIC</th>
           <th scope="col">Action</th>
            </tr>
       </thead>
       <tbody *ngFor="let employee of employeeList">
         <tr>
          <td>{{employee.firstName}}</td>
           <td>{{employee.lastName}}</td>
           <td>{{employee.mobile}}</td>
           <td>{{employee.email}}</td>
           <td>{{employee.designation}}</td>
           <td>{{employee.nic}}</td>
           <td><button type="button" (click)="_loadEmployeeDetails(employee.employeeId,employee.firstName,employee.lastName,employee.nic,employee.email,employee.mobile,employee.designation)" class="btn btn-primary mb-3 edit-btn" data-toggle="modal" data-target="#editemployee">Edit</button></td>
<!--
           modal for edit employee -->
           <div id="editemployee" class="modal fade">
            <div class="modal-dialog modal-xl" role="document" style="width: 100%;">
                <div class="modal-content">
                    <div class="modal-header" style="border: white;">
                        <div class="model-header-title">Update Employee</div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                  <div class="modal-body">
                     <form role="form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">First Name</label>
                                    <div>
                                        <input type="text" [(ngModel)]="empUpdateFirstName" class="form-control input-lg" id="FirstName" placeholder="First Name" name="FirstName" value="">
                                    </div>
                                  <span style="color: red">{{updateFirstnameError}}</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Tel</label>
                                    <div>
                                        <input type="tel" [(ngModel)]="empUpdateMobile" class="form-control input-lg" name="Tel" id="tel" placeholder="Tel" value="">
                                    </div>
                                  <span style="color: red">{{updateMobileError}}</span>
                                </div>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Last Name</label>
                                    <div>
                                        <input type="text" [(ngModel)]="empUpdateLastName" class="form-control input-lg" name="LastName" id="lastName" placeholder="Last Name" value="">
                                    </div>
                                  <span style="color: red">{{updateLastnameError}}</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <div>
                                        <input type="email" [(ngModel)]="empUpdateEmail" class="form-control input-lg" name="email"id="email" placeholder="Email" value="">
                                    </div>
                                  <span style="color: red">{{updateEmailError}}</span>
                                </div>
                            </div>
                            </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Designation</label>
                                            <div>
                                                <input type="text" [(ngModel)]="empUpdateDesignation" class="form-control input-lg" name="designation" placeholder="Designation" id="designation" value="">
                                            </div>
                                          <span style="color: red">{{updateDesignationError}}</span>
                                        </div>
                                    </div>
<!--                                    <div class="col-md-6">-->
<!--                                        <div class="row">-->
<!--                                    <div class="col-md-6">-->
<!--                                        <div class="custom-control custom-switch">-->
<!--                                            <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>-->
<!--                                            <label class="custom-control-label" for="customSwitch1">Active</label>-->
<!--                                          </div>-->
<!--                                    </div>-->
<!--                                    <div class="col-md-6">-->
<!--                                     </div>-->
<!--                                    </div>-->
<!--                                    </div>-->
                                 </div>
                                 <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">NIC</label>
                                            <div>
                                                <input type="text" [(ngModel)]="empUpdateNic" class="form-control input-lg" id="nicpassport" placeholder="NIC / Passport" name="nicpassport" value="">
                                            </div>
                                          <span style="color: red">{{updateNicError}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-6">
                                             </div>
                                            <div class="col-md-6" style="text-align: center;">
                                                <div class="form-group add-btn-div">
                                                    <div>
                                                        <button type="button" (click)="_updateEmployee()" class="btn btn-primary add-btn-modal  update-btn-align">
                                                            Update
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                     </div>
                                    </div>
                                </form>
                    </div>
                </div>
            </div>
        </div>

         </tr>
        </tbody>
        </table>
        <jw-pagination [items]="visited" (changePage)="onChangePage($event)" class="pagi"></jw-pagination>
     </div>
     </div>


     <!-- Modal for add employee -->
<div id="AddEmployee" class="modal fade">
    <div class="modal-dialog modal-xl" role="document" style="width: 100%;">
        <div class="modal-content">
            <div class="modal-header" style="border: white;">
                <div class="model-header-title">Add New Employee</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
          <div class="modal-body">
             <form role="form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">First Name</label>
                            <div>
                                <input type="text" class="form-control input-lg" [(ngModel)]="empFirstName" name="empFirstName" id="first_name" placeholder="First Name">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Tel</label>
                            <div>
                                <input type="tel" class="form-control input-lg" [(ngModel)]="empMobile" name="empMobile" id="telephone" placeholder="Tel" value="">
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Last Name</label>
                            <div>
                                <input type="text" [(ngModel)]="empLastName" name="empLastName" class="form-control input-lg" id="last_name" placeholder="Last Name">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <div>
                                <input type="email" [(ngModel)]="empEmail" name="empEmail" class="form-control input-lg"  id="emp_email" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Designation</label>
                                    <div>
                                        <input type="text" [(ngModel)]="empDesignation" name="empDesignation" class="form-control input-lg" placeholder="Designation" id="emp_designation">
                                    </div>
                                </div>
                            </div>
                          </div>
                         <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">NIC </label>
                                    <div>
                                        <input type="text" [(ngModel)]="empNic" class="form-control input-lg" id="emp_nic" placeholder="NIC " name="empNic">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group add-btn-div">
                                    <div>
                                        <button type="button" (click)="_createNewEmployee()" class="btn btn-primary add-btn-modal">
                                            Add
                                        </button>
                                    </div>
                                </div>
                             </div>
                            </div>
                        </form>
            </div>
        </div>
    </div>
</div>
