<div class="header-title">Check in visitors</div>
<div class="row">
    <div class="col-lg-6 col-md-12 check-in-visitor">
        <form class="check-in-visitor-form">
            <div class="form-headers">Staff Details</div>
            <div class="row">
              <div class="col-lg-8 col-md-8 col-sm-12 mb-3">
                    <label for="Staff member">Staff member</label>
                    <input type="text" class="form-control" id="staffMember" placeholder="Search by Name,mobile"required>
                    <div class="invalid-feedback">
                        Valid staff member detail is required.
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 mb-3" style="text-align: center;">
                 <button type="submit" class="btn btn-primary mb-3 search-btn">Search</button>
                </div>
            </div>
            
            <div class="mb-3">
                <label for="email">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name">
                <div class="invalid-feedback">
                    Valid name is required
                </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                    <label for="telephoneNo">Telephone</label>
                    <input type="tel" class="form-control" id="telephoneNo" placeholder="Telephone No"
                           required>
                    <div class="invalid-feedback">
                        Valid telephone no is required.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="designation">Designation</label>
                    <input type="tel" class="form-control" id="designation" placeholder="Designation" required>
                    <div class="invalid-feedback">
                        Valid designation is required.
                    </div>
                </div>
             </div>
           
         <div class="mb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email" required>
                <div class="invalid-feedback">
                    valid email is required
                </div>
            </div>

            <div class="form-headers">Visit location</div>

            <div class="mb-3">
                    <label for="building">Building</label>
                    <select class="custom-select d-block w-100" id="building" required>
                        <option value="">Choose...</option>
                        <option></option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid building.
                    </div>
            </div>
            <div class="mb-3">
                <label for="floor">Floor</label>
                <select class="custom-select d-block w-100" id="floor" required>
                    <option value="">Choose...</option>
                    <option></option>
                </select>
                <div class="invalid-feedback">
                    Please select a valid floor.
                </div>
        </div>
        <div class="form-headers">Visit Purpose</div>
        <div class="mb-3">
            <label for="visitPurpose">Purpose</label>
            <select class="custom-select d-block w-100" id="visitPurpose" required>
                <option value="">Choose...</option>
                <option></option>
            </select>
            <div class="invalid-feedback">
                Please select a valid visit Purpose.
            </div>
    </div>
            </form>

    </div>

    <div class="col-lg-6 col-sm-12"></div>
</div>
