<div class="header-title">Check in visitors</div>
<div class="container">
<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 check-in-visitor">
        <form class="check-in-visitor-form">
            <div class="form-headers">Staff Details</div>
            <!-- <div class="row">
              <div class="col-lg-8 col-md-8 col-sm-12 mb-3">
                    <label for="Staff member">Staff member</label>
                    <input type="text" class="form-control" id="staffMember" placeholder="Search by Name,mobile"required>
                    <div class="invalid-feedback">
                        Valid staff member detail is required.
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 mb-3" style="text-align: center;">
                 <button type="submit" class="btn btn-primary mb-3 search-btn">Search</button>
                </div>
            </div> -->
            <div class="mb-3">
            <div class="form-group">
                <div class="ng-autocomplete tf-background-autocompleate">
                    <label>Enter Product Name</label>
                    <ng-autocomplete
                            [data]="data"
                            [searchKeyword]="keyword"
                            (selected)='selectEvent($event)'
                            (inputChanged)='onChangeSearch($event)'
                            (inputFocused)='onFocused($event)'
                            [itemTemplate]="itemTemplate"
                            [notFoundTemplate]="notFoundTemplate">
                    </ng-autocomplete>

                    <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item.name"></a>
                    </ng-template>

                    <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                    </ng-template>
                </div>
            </div>
            </div>
            
            <div class="mb-3">
                <label for="email">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name">
                <div class="invalid-feedback">
                    Valid name is required
                </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                    <label for="telephoneNo">Telephone</label>
                    <input type="tel" class="form-control" id="telephoneNo" placeholder="Telephone No"
                           required>
                    <div class="invalid-feedback">
                        Valid telephone no is required.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="designation">Designation</label>
                    <input type="text" class="form-control" id="designation" placeholder="Designation" required>
                    <div class="invalid-feedback">
                        Valid designation is required.
                    </div>
                </div>
             </div>
           
         <div class="mb-3">
                <label for="name">Email</label>
                <input type="email" class="form-control" id="email-staff" placeholder="Email" required>
                <div class="invalid-feedback">
                    valid email is required
                </div>
            </div>

            <div class="form-headers">Visit location</div>

            <div class="mb-3">
                    <label for="building">Building</label>
                    <select class="custom-select d-block w-100" id="building" required>
                        <option value="">Choose...</option>
                        <option>Abcd</option>
                        <option>dfccc</option>
                        <option>hnb</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid building.
                    </div>
            </div>
            <div class="mb-3">
                <label for="floor">Floor</label>
                <select class="custom-select d-block w-100" id="floor" required>
                    <option value="">Choose...</option>
                    <option>bcd</option>
                </select>
                <div class="invalid-feedback">
                    Please select a valid floor.
                </div>
        </div>
        <div class="form-headers">Visit Purpose</div>
        <div class="mb-3">
            <label for="visitPurpose">Purpose</label>
            <select class="custom-select d-block w-100" id="visitPurpose" required>
                <option value="">Choose...</option>
                <option></option>
            </select>
            <div class="invalid-feedback">
                Please select a valid visit Purpose.
            </div>
    </div>
            </form>

    </div>

    <div class="col-lg-6 col-sm-12 col-md-12  check-in-visitor">
     <form class="check-in-visitor-form">
            <div class="form-headers">Visitor Details</div>
            <div class="row">
              <div class="col-lg-8 col-md-8 col-sm-12 mb-3">
                    <label for="visitor">Visitor</label>
                    <input type="text" class="form-control" id="visitor" placeholder="Search by Name,mobile" required>
                    <div class="invalid-feedback">
                        Valid visitor detail is required.
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 mb-3" style="text-align: center;">
                 <button type="submit" id="search-btn" class="btn btn-primary mb-3 search-btn">Search</button>
                </div>
            </div>
            
           <div class="row">
              <div class="col-md-6 mb-3">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="First Name" required>
                    <div class="invalid-feedback">
                        Valid firstName is required.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Last Name" required>
                    <div class="invalid-feedback">
                        Valid lastName is required.
                    </div>
                </div>
             </div>
             <div class="row">
                <div class="col-md-6 mb-3">
                      <label for="nicPassport">NIC/Passport</label>
                      <input type="text" class="form-control" id="nicPassport" placeholder="NIC / Passport" required>
                      <div class="invalid-feedback">
                          Valid nic Passport is required.
                      </div>
                  </div>
                  <div class="col-md-6 mb-3">
                      <label for="mobile">Mobile</label>
                      <input type="tel" class="form-control" id="mobile" placeholder="Mobile" required>
                      <div class="invalid-feedback">
                          Valid mobile is required.
                      </div>
                  </div>
               </div>
           
         <div class="mb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email-visitor" placeholder="Email" required>
                <div class="invalid-feedback">
                    valid email is required
                </div>
            </div>

         <div class="mb-3">
                    <label for="card">Card</label>
                    <select class="custom-select d-block w-100" id="card" required>
                        <option value="">Choose...</option>
                        <option></option>
                    </select>
                    <div class="invalid-feedback">
                        Please card a valid building.
                    </div>
            </div>
            <div class="row">
                <div class="col-md-8 mb-3"></div>
            <div class="col-md-4 mb-3" style="text-align: end;">
                <button type="submit" id="add-to-list-btn" class="btn btn-primary mb-3 search-btn">Add to list</button>
                </div>
                </div>

                <div class="table-responsive">
                     <table class="table" id="visitor-details-table">
                    <thead>
                      <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">NIC/Passport</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Remove</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let visitors of pageOfItems ">
                      <tr>
                        <td>{{visitors.firstName}}</td>
                        <td>{{visitors.nicPassport}}</td>
                        <td>{{visitors.mobile}}</td>
                        <td>
                            <a href="" class="bin">
                                <img src="https://img.icons8.com/material-rounded/24/fa314a/filled-trash.png"/>
                                </a>
                            </td>
                      </tr>
                     </tbody>
                     </table>
                     <jw-pagination [items]="visit" (changePage)="onChangePage($event)"></jw-pagination>
                  </div>
                  <div class="row">
                    <div class="col-md-8 mb-3"></div>
                <div class="col-md-4 mb-3" style="text-align: end;">
                    <button type="submit"id="visitor-submit-button" class="btn btn-primary mb-3 search-btn">Submit</button>
                    </div>
                    </div>
        </form>
        
    </div>
</div>
</div>
