
<div class="header-title">Manage System Users</div>
<div class="row">
    <div class="col-6">
        <form class="checked-in-visitor-form">
            <div class="row">
              <div class="col-lg-8 col-md-8 col-sm-12 mb-3">
                    <input type="text" [(ngModel)]="customSearchText" name="customSearchText" (ngModelChange)="_usersCustomSearch()" class="form-control" id="visitor" placeholder="Search by pass number , visitor's mobile" required>
                    <div class="invalid-feedback">
                        Valid visitor detail is required.
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 mb-3" style="text-align: center;">
                 <button type="button" class="btn btn-primary mb-3 search-btn">Search</button>
                </div>
            </div>
            </form>
    </div>
    <div class="col-6 btn-rec">
        <button type="submit" class="btn btn-primary mb-3 add-resep-btn" data-toggle="modal" data-target="#AddReceptionist">Add Receptionist</button>
    </div>
</div>
<div class="table-card">
    <div class="table-responsive">
        <table class="table">
       <thead>
         <tr>

           <th scope="col">First tName</th>
           <th scope="col">Last Name</th>
           <th scope="col">Designation</th>
           <th scope="col">NIC/Passport</th>
           <th scope="col">Tel</th>
           <th scope="col">Email</th>
           <th scope="col"> User Name</th>
           <th scope="col">Status</th>
           <th scope="col">Action</th>
            </tr>
       </thead>
       <tbody *ngFor="let reception of pageOfItems">
         <tr>
          <td>{{reception.firstName}}</td>
           <td>{{reception.lastName}}</td>
           <td>{{reception.role}}</td>
           <td>{{reception.nic}}</td>
           <td>{{reception.mobile}}</td>
           <td>{{reception.email}}</td>
           <td>{{reception.userName}}</td>
           <td>{{reception.status}}</td>
           <td><button type="button" class="btn btn-primary mb-3 edit-btn" data-toggle="modal" data-target="#editReceptionist"
           (click)="_loadReceptionDetails(reception.userId,reception.userName,reception.firstName,reception.lastName,reception.nic,reception.email,reception.mobile,reception.password,reception.status,reception.role)">Edit</button></td>
<!--
           modal for edit receptionist -->
           <div id="editReceptionist" class="modal fade">
            <div class="modal-dialog modal-xl" role="document" style="width: 100%;">
                <div class="modal-content">
                 <div class="modal-header" style="border: white;">
                    <div class="model-header-title">Update Receptionist</div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                <div class="modal-body">
                     <form role="form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">First Name</label>
                                    <div>
                                        <input type="text" [(ngModel)]="updateFirstName" class="form-control input-lg" id="FirstName" placeholder="First Name" name="FirstName">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Tel</label>
                                    <div>
                                        <input type="tel" [(ngModel)]="updateMobile" class="form-control input-lg" name="Tel" id="tel" placeholder="Tel" value="">
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Last Name</label>
                                    <div>
                                        <input type="text" [(ngModel)]="updateLastName" class="form-control input-lg" name="LastName" id="lastName" placeholder="Last Name" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <div>
                                        <input type="email" [(ngModel)]="updateEmail" class="form-control input-lg" name="email" id="email" placeholder="Email" value="">
                                    </div>
                                </div>
                            </div>
                            </div>

                                <div class="row">
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <label class="control-label">NIC</label>
                                        <div>
                                          <input type="text" class="form-control input-lg" [(ngModel)]="updateNic" id="nicpassport" placeholder="NIC / Passport" name="nicpassport" value="">
                                        </div>
                                      </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (click)="toggle()">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Do you want to change the user name and password
                                            </label>
                                          </div>
                                        <div class="row" *ngIf="show">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">User Name</label>
                                            <div>
                                                <input type="text" [(ngModel)]="updateUsername" class="form-control input-lg" name="username" placeholder="User Name" id="update-username" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Password</label>
                                            <div>
                                                <input type="password" [(ngModel)]="updatePassword" class="form-control input-lg" name="password" placeholder="Password" id="password" value="">
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-md-6">

                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <!-- Default checked -->
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1" name="accepted" [(ngModel)]="accepted" (change)="checkValue(accepted?true:false)">
                <label class="custom-control-label" for="customSwitch1">Active</label>
              </div>
                         </div>
                                            <div class="col-md-6" style="text-align: center;">
                                                <div class="form-group add-btn-div">
                                                    <div>
                                                        <button type="button" (click)="_updateUser()" class="btn btn-primary add-btn-modal  update-btn-align">
                                                            Update
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                     </div>
                                    </div>
                                </form>
                    </div>
                </div>
            </div>
        </div>

         </tr>
        </tbody>
        </table>
        <jw-pagination [items]="receptionList" (changePage)="onChangePage($event)" class="pagi"></jw-pagination>
     </div>
     </div>


     <!-- Modal for add receptionist -->
<div id="AddReceptionist" class="modal fade">
    <div class="modal-dialog modal-xl" role="document" style="width: 100%;">
        <div class="modal-content">
            <div class="modal-header" style="border: white;">
                <div class="model-header-title">Add New Receptionist</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
         <div class="modal-body">
             <form role="form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">First Name</label>
                            <div>
                                <input type="text" class="form-control input-lg" [(ngModel)]="firstName" id="first-name" placeholder="First Name" name="firstName" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Tel</label>
                            <div>
                                <input type="tel" class="form-control input-lg" [(ngModel)]="mobile" name="mobile" id="mobile" placeholder="Tel" value="">
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Last Name</label>
                            <div>
                                <input type="text" class="form-control input-lg" [(ngModel)]="lastName" name="lastName" id="last-name" placeholder="Last Name" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <div>
                                <input type="email" class="form-control input-lg" [(ngModel)]="email" name="email" id="u_email" placeholder="Email" value="">
                            </div>
                        </div>
                    </div>
                    </div>

                        <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label">NIC</label>
                                <div>
                                  <input type="text" class="form-control input-lg" id="nic" [(ngModel)]="nic" placeholder="NIC / Passport" name="nic">
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">User Name</label>
                                    <div>
                                        <input type="text" class="form-control input-lg" [(ngModel)]="username" name="username" placeholder="User Name" id="userName" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Password</label>
                                    <div>
                                        <input type="password" class="form-control input-lg" [(ngModel)]="password" name="password" placeholder="Password" id="u_password" value="">
                                    </div>
                                </div>
                            </div>
                            </div>
                            </div>
                         </div>
                         <div class="row">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6">
                                <div class="form-group add-btn-div">
                                    <div>
                                        <button type="button" (click)="_createReception()" class="btn btn-primary add-btn-modal">
                                            Add
                                        </button>
                                    </div>
                                </div>
                             </div>
                            </div>
                        </form>
            </div>
        </div>
    </div>
</div>
